@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Solway:wght@300;400;500;700;800&display=swap');

:root {
    --main-red: #f43f5e;
    --main-white: #fff1f2;
    --secondary-pink: #ffe4e6;
}

* {
    font-family: "Solway", 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: min-content 1fr;
    
    height: 100%;
}

.sidebar{
    background-color: var(--main-red);
    display: grid;
    grid-template-rows: min-content 1fr;

    color: white ;
    padding: 0 30px 50px;
}

.title {
    text-align: center;
    height: 100px;
}

.title p {
    font-family: "Oi", 'Times New Roman', Times, serif;
    font-size: 2rem;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;

    margin: 25px 0;
}

.nav-menu a {
    color: inherit;
    text-decoration: none;
    text-align: center;

    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-menu {
    display: grid;
    grid-template-rows: repeat(2 1fr);

    font-weight: bold;
    font-size: 1.5rem;
}

.nav-menu img {
    width: 25px;
    height: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg) brightness(102%) contrast(103%);
}

.content-menu {
    align-self: flex-start;
}

.config-menu {
    align-self: flex-end;
}

.main-section {
    display: grid;
    grid-template-rows: min-content 1fr;
    background-color: var(--main-white);
}

.nav-bar {
    z-index: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;

    padding: 15px 50px;

    box-shadow: 0px 3px 5px 0px rgba(76,5,25,0.35);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(76,5,25,0.35);
    -moz-box-shadow: 0px 3px 5px 0px rgba(76,5,25,0.35);
}

.seach-bar {
    grid-column: 1 / 3;
    height: min-content;
    display: flex;
    gap: 15px;
    align-items: center;

}

.search-input {
    height: 20px;
    width: min(1000px, 80%);
    border: none;
    background-color: var(--secondary-pink);
    border-radius: 15px;
    text-align: left;
    padding: 5px 15px;
}

.search-input:focus{   
    outline: none;
}

.nav-bar button{
    border: none;
    background-color: var(--main-white);
}

.icon{
    width: 20px;
    height: auto;
    transform: scaleX(-1);
}

.profile-sec {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    color: black;
    text-decoration: none;
}

.profile-picture img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.name{
    font-size: 1.15rem;
    font-weight: 600;
}

.status{
   grid-column: 1 / 3;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   height: min-content;
}

.status img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.status-name p{
    margin: 0 30px;
    padding: 0;
}


.status-name p:first-of-type{
    font-size: 1rem;
    font-weight: 500;
}

.status-name p:last-of-type{
    font-size: 1.5rem;
    font-weight: 600;
}

.status-buttons {
    justify-self: right;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.status-buttons, .status {
    margin-top: 20px;
}

.status-buttons button {
    background-color: var(--main-red);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    font-weight: 700;
}

.content {
    z-index: 1;
    background-color: var(--secondary-pink);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, min-content);

    padding: 30px;
}

.announcements-block, .trending-block {
    display: grid;

    padding: 20px 30px;

    background-color: var(--main-white);
    border-radius: 15px;
    box-shadow: 1px 3px 5px 0px rgba(76,5,25,0.35);
    -webkit-box-shadow: 1px 3px 5px 0px rgba(76,5,25,0.35);
    -moz-box-shadow: 1px 3px 5px 0px rgba(76,5,25,0.35);
}

.announcements-block {
    grid-template-rows: repeat(3, 1fr);
}

.trending-block {
    grid-template-rows: repeat(4, 1fr);
}

h1 {
    font-size: 1.5rem
}

.announcements h1, .projects h1 {
    margin-top: 0;
}

.announcements-block h2{
    font-size: 1rem;
}

.announcements-block p{
    font-size: 0.9rem;
    line-height: 1.5;
    color: #555;
}

.announcements-block div *, .project-trend * {
    margin: 0;
}

.announcements-block div {
    width: 100%;
}

.announcement, .trending {
    padding: 20px 0;
    height: min-content;
}

.announcement:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

.projects {
    grid-row: 1 /3;
}

.trending-block div {
    display: flex;
}

.trend {
    height: min-content;
    font-size: 1.1rem;
}

.trend img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    align-self: center;
}

.trend p:first-of-type {
    font-weight: bold;
}

.trend p:last-of-type {
    color: #555;
    letter-spacing: 1px;
}

.project-trend {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.projects {
    margin-right: 30px;
}

.projects-block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 30px;
}

.project {
    background-color: var(--main-white);
    height: 150px;
    border-radius: 15px;
    padding: 30px;
    border-left: 8px solid #4ade80;

    box-shadow: 1px 3px 5px 0px rgba(76,5,25,0.35);
    -webkit-box-shadow: 1px 3px 5px 0px rgba(76,5,25,0.35);
    -moz-box-shadow: 1px 3px 5px 0px rgba(76,5,25,0.35);

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.project h2 {
    font-size: 1.2rem;
    margin: 0;
    align-self: center;
}

.project-description {
    text-align: justify;
}

.project-btn {
    align-self: flex-end;
    justify-self: flex-end;

    display: flex;
    gap: 30px;
}

.view {
    all: unset;
    cursor: grab;
    background: url('../icons/eye-plus-outline.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.share {
    all: unset;
    cursor: grab;
    background: url('../icons/source-fork.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.favorite {
    all: unset;
    cursor: grab;
    background: url('../icons/star-plus-outline.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}